<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="UTF-8">
      <title>Title</title>
   </head>

   <body>
      <h1>Hi.</h1>

      <div id="goodsList">
         <table>
            <tr th:each="goods : ${goodsList}">
            <td th:text="${goods.gid}">Mark</td>
            <td th:text="${goods.gtitle}">Otto</td>
            <td th:text="${goods.cid}">@mdo</td>
            <td th:text="${goods.gprice}">index</td>
         </tr>
         </table>
         
      </div>

   </body>

</html>