<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >

   <head>
      <meta charset="UTF-8">
      <title></title>
      <link rel="stylesheet" type="text/css" href="/css/easyui.css">
      <link rel="stylesheet" type="text/css" href="/css/icon.css">
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
      <script type="text/javascript" src="/js/js.cookie-2.2.1.min.js"></script>
   </head>

   <body class="easyui-layout">
      <div class="easyui-layout" style="width:100%;height:100%;">
         <div data-options="region:'north'" style="height:5%;background: #e0ecff;">
            <span style="height: 35px; line-height: 35px;">巧克力专营后台</span>
            <span style="float:right;height: 35px; line-height: 35px;">
            当前管理员: <span id="admin_id" ></span>
            <span><a href="/admin/logout">登出</a></span>
            </span>
         </div>
         <div data-options="region:'east'" style="width:100px;"></div>
         <div data-options="region:'west'" style="width:200px;">
            <div id="sm" class="easyui-sidemenu" data-options="data:data,onSelect:onSelect"></div>
         </div>
         <div data-options="region:'center'" style="background:#eee;height:95%;">
            <div id="div" style="width: 100%; height: 100%;margin: 0 0;">
               <iframe id="main" src="/admin/main" style="width: 100%; height: 100%;"></iframe>
            </div>
         </div>
      </div>
      <script type="text/javascript">
         var data = [{
            text: '模块',
            iconCls: 'icon-sum',
            state: 'open',
            children: []
         }];
      </script>
      
      <script shiro:hasPermission="admin:view">
         data[0].children.push({
            id: 'admin',
            text: '管理员管理',
         })
      </script>
      <script shiro:hasPermission="goods:view">
         data[0].children.push({
               id: 'goods',
               text: '商品管理'
            })
      </script>
      <script shiro:hasPermission="category:view">
         data[0].children.push({
               id: 'category',
               text: '分类管理'
            })
      </script>
      <script shiro:hasPermission="order:view">
         data[0].children.push({
               id: 'order',
               text: '订单管理'
            })
      </script>
               id: 'member',
      <script shiro:hasPermission="admin:view">
         data[0].children.push({
               id: 'member',
               text: '会员管理'
            })
      </script>
      
      <script shiro:hasPermission="role:view">
         data[0].children.push({
               id: 'role',
               text: '角色管理'
            })
      </script>
         
      <script type="text/javascript">
         var onSelect = function(item) {
            console.log(item.id)
            $('#main').remove()
            $("#div").append('<iframe id="main" src="/admin/' + item.id + '-info/index" style="width: 100%; height: 100%;"></iframe>')
         }

         $(function() {
            var adminName = Cookies.get('adminName')
            var adminId = Cookies.get('adminId')
            $('#admin_id').text(adminName)
         })
      </script>
      
   </body>

</html>