<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="register" method="post">
        <table>
            <tr><td>Username: </td><td><input name="username" type="text" value="admin" /></td></tr>
            <tr><td>Nickname: </td><td><input name="username" type="text" value="admin" /></td></tr>
            <tr><td>Password: </td><td><input name="password" type="password" value="123456" /></td></tr>
            <tr><td>Phone: </td><td><input name="password" type="password" value="123456" /></td></tr>
            <tr><td>Email: </td><td><input name="password" type="password" value="123456" /></td></tr>
            <tr><td>Gender: </td><td><input name="password" type="password" value="123456" /></td></tr>
            <tr><td>Address: </td><td><input name="password" type="password" value="123456" /></td></tr>
            <tr><td colspan="2"><button>submit</button></td></tr>
        </table>
    </form>
</body>
</html>