<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>userinfo</h1>
    <table>
        <tr>
            <td th:text="${userinfo.uid}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.username}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.nickname}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.phone}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.email}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.created}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.updated}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.gender}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.address}"></td>
        </tr>
        <tr>
            <td th:text="${userinfo.photo}"></td>
        </tr>
    </table>
</body>
</html>